<html>
	{% extends "navbar.html" %}
	{% block content %}
	{{ super() }}
    <head>
        <title>{{eventInfo[0]["eventName"]}}</title>
    </head>
    <body style="text-align: center">
            {% for info in eventInfo %}
			<div class="text-dark">
				<div class="card" style="width: auto; height: auto">
					<h1 class="card-header">{{eventInfo[0]["eventName"]}}</h1>
					<div class="card-body">
						<div class="card-title">Host: {{info.eventOwner}}</div>
						<div class="card-title">Date: {{info.eventDate}}</div>
						<div class="card-title">Location: {{info.eventLocation}}</div>
						<div class="card-text">Description : <br>{{info.eventDescription}}</div>
						<br>
						<form action="/going" method="GET">
							<input type="hidden" name="eventID" value={{info.eventID}}>
							<input type="hidden" name="attend" value={{attend}}>
							<input class="btn btn-primary" type="submit" value="{{attend}}">
						</form>
						<br>
						<h2 class="card-title">Attending</h2>
						{% for person in attendance %}
							<div class="card-text">{{person.attendee}}</div>
						{% endfor %}
						<br>
						{% if userisHost == True %}
						<form action="/deleteEvent" method="GET">
							<input type="hidden" name="eventID" value={{eventInfo[0]["eventID"]}}>
							<input class="btn btn-primary" type="submit" value="Delete">
						</form>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
        <a href="/">Go back</a>
    </body>
	{% endblock %}
</html>