<html>
    <head>
        <title>{{status}}</title>
    </head>
    <body>
        <h1 style="padding-left: 1%; padding-top: 1%;">Events</h1>
		<form class="form-inline my-2 my-lg-0" action="/followUser" method="Post">
            <input class="form-control mr-sm-2" name = event type="search" placeholder="Event" aria-label="Search">
            <button class="btn btn-outline-success btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="d-flex flex-row flex-wrap bd-highlight">
            {% for event in feed %}
				<div style="align-items: center">
					<div class="text-dark">
						<div class="card" style="width: 50rem; height: auto">
							<h2 class="card-header">{{event.eventName}}</h2>
							<div class="card-body">
								<div class="card-text">Host: {{event.eventOwner}}</div>
								<div class="card-text">Date: {{event.eventDate}}</div>
								<div class="card-title">Location: {{event.eventLocation}}</div>
								<div class="card-text">Description :<br>{{event.eventDescription}}</div>
								<form action="/event" method="GET">
									<input type="hidden" name="eventID" value={{event.eventID}}>
									<input class="btn btn-primary" type="submit" value="Details">
								</form>
							</div>
						</div>
					</div>
				</div>
            {% endfor %}
        </div>
    </body>
</html>