{% extends "navbar.html" %}
{% block content %}
{{ super() }}
<body>

<h1>Hello, {{ username }}.</h1>
<div class="row">
    <div class="col-lg-6">
		<br>
        <button class="btn btn-outline-success btn-light my-2 my-sm-0" onclick="window.location.href='/upload'">Post your own Event</button>
        <h3>Or select from the ones below: </h3>
        {% include "feed.html" %}
    </div>
    <div class="col-lg-6">
        <h1 style="padding-left: 1%; padding-top: 1%;">Events Attending</h1>
        <div class="d-flex flex-row flex-wrap bd-highlight">
            {% for eventAttending in eventsAttending %}
                <div style="align-items: center">
                    <div class="text-dark">
                        <div class="card" style="width: 50rem; height: auto">
                            <h2 class="card-header">{{eventAttending.eventName}}</h2>
                            <div class="card-body">
                                <div class="card-text">Host: {{eventAttending.eventOwner}}</div>
                                <div class="card-text">Date: {{eventAttending.eventDate}}</div>
                                <div class="card-title">Location: {{eventAttending.eventLocation}}</div>
                                <div class="card-text">Description :<br>{{eventAttending.eventDescription}}</div>
                                <form action="/event" method="GET">
                                    <input type="hidden" name="eventID" value={{eventAttending.eventID}}>
                                    <input class="btn btn-primary" type="submit" value="Details">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}